## 라이브러리 및 데이터 불러오기, 데이터 확인하기

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
file_url = 'salary.csv'
data = pd.read_csv(file_url, skipinitialspace=True)    # skipinitialspace는 각 데이터의 첫 자리에 있는 공란을 자동 제거함

In [44]:
data.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

In [45]:
data.head(10)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,NaN,HS-grad,9,Never-married,NaN,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [46]:
data['class'].unique()    # 고유값 확인 -- $50,000을 기준으로 나뉘어진 데이터임

array(['<=50K', '>50K'], dtype=object)

In [47]:
data.info()     #변수 특징 출력

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   education       48842 non-null  object
 3   education-num   48842 non-null  int64
 4   marital-status  48842 non-null  object
 5   occupation      46033 non-null  object
 6   relationship    48842 non-null  object
 7   race            48842 non-null  object
 8   sex             48842 non-null  object
 9   capital-gain    48842 non-null  int64
 10  capital-loss    48842 non-null  int64
 11  hours-per-week  48842 non-null  int64
 12  native-country  47985 non-null  object
 13  class           48842 non-null  object
dtypes: int64(5), object(9)
memory usage: 5.2+ MB

In [48]:
# 결측치 확인하기
# 텍스트로 구성된 범주형 변수가 많음

In [49]:
data.describe()       # 통계 정보 출력

                age  education-num  capital-gain  capital-loss  hours-per-week
count  48842.000000   48842.000000  48842.000000  48842.000000    48842.000000
mean      38.643585      10.078089   1079.067626     87.502314       40.422382
std       13.710510       2.570973   7452.019058    403.004552       12.391444
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       48.000000      12.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [50]:
data.describe(include='all')    #object형이 포함된 통계정보 출력

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
count,48842.000000,46043,48842,48842.000000,48842,46033,48842,48842,48842,48842.000000,48842.000000,48842.000000,47985,48842
unique,NaN,8,16,NaN,7,14,6,5,2,NaN,NaN,NaN,41,2
top,NaN,Private,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,33906,15784,NaN,22379,6172,19716,41762,32650,NaN,NaN,NaN,43832,37155
mean,38.643585,NaN,NaN,10.078089,NaN,NaN,NaN,NaN,NaN,1079.067626,87.502314,40.422382,NaN,NaN
std,13.710510,NaN,NaN,2.570973,NaN,NaN,NaN,NaN,NaN,7452.019058,403.004552,12.391444,NaN,NaN
min,17.000000,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

## 전처리 : 범주형 데이터

In [51]:
data['class'] = data['class'].map({'<=50K': 0, '>50K' : 1})       # 숫자로 변환

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   education       48842 non-null  object
 3   education-num   48842 non-null  int64
 4   marital-status  48842 non-null  object
 5   occupation      46033 non-null  object
 6   relationship    48842 non-null  object
 7   race            48842 non-null  object
 8   sex             48842 non-null  object
 9   capital-gain    48842 non-null  int64
 10  capital-loss    48842 non-null  int64
 11  hours-per-week  48842 non-null  int64
 12  native-country  47985 non-null  object
 13  class           48842 non-null  int64
dtypes: int64(6), object(8)
memory usage: 5.2+ MB

In [53]:
data.head(10)

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,NaN,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,0
5,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,0
6,29,NaN,HS-grad,9,Never-married,NaN,Unmarried,Black,Male,0,0,40,United-States,0
7,63,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,1
8,24,Private,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,0
9,55,Private,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,0

## object형의 변수 정보 확인하기

In [54]:
# 독립변수의 범주형 데이터
data['age'].dtype

dtype('int64')

In [55]:
for i in data.columns:          # 순회
  print(i, data[i].dtype)       # 컬럼명과 데이터 타입 출력

age int64
workclass object
education object
education-num int64
marital-status object
occupation object
relationship object
race object
sex object
capital-gain int64
capital-loss int64
hours-per-week int64
native-country object
class int64

In [56]:
# object형 변수 이름들을 리스트로 모으기
obj_list = []     # 빈 리스트

In [57]:
for i in data.columns:            # 순회
  if data[i].dtype == 'object':   # 데이터타입이 object이면
    obj_list.append(i)            # 리스트에 변수 이름을 추가

In [58]:
obj_list          # 모아진 변수 확인하기

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country']

### 전처리할 변수 선별하기

In [59]:
for i in obj_list:
  print(i, data[i].nunique())       # 변수이름과 고윳값 개수 확인

workclass 8
education 16
marital-status 7
occupation 14
relationship 6
race 5
sex 2
native-country 41

In [60]:
for i in obj_list:
  if data[i].nunique() >= 10:     # 변수의 고유값이 10보다 크거나 같으면
    print(i, data[i].nunique())   # 컬럼명과 고윳값 개수 출력

education 16
occupation 14
native-country 41

### education 변수 처리

In [61]:
data['education'].value_counts()        # 고유값 빈도 확인

HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64

In [62]:
data['education-num'].unique()

array([ 7,  9, 12, 10,  6, 15,  4, 13, 14, 16,  3, 11,  5,  8,  2,  1])

In [63]:
np.sort(data['education-num'].unique())    # 고유값을 오름차순으로 확인

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [64]:
np.sort(data['education'].unique())

array(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype=object)

In [65]:
data

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,NaN,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
48838,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
48839,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
48840,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
48841,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [66]:
data['education-num'] == 1

0        False
1        False
2        False
3        False
4        False
         ...
48837    False
48838    False
48839    False
48840    False
48841    False
Name: education-num, Length: 48842, dtype: bool

In [67]:
data[data['education-num'] == 1]      # 값이 1인 (Ture인) 행만 필터링

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
779,64,Private,Preschool,1,Married-civ-spouse,Handlers-cleaners,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,0
818,21,Private,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,25,Mexico,0
1029,57,NaN,Preschool,1,Separated,NaN,Not-in-family,White,Male,0,0,40,United-States,0
1059,31,Private,Preschool,1,Never-married,Handlers-cleaners,Not-in-family,Amer-Indian-Eskimo,Male,0,0,25,United-States,0
1489,19,Private,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,36,Mexico,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48079,31,State-gov,Preschool,1,Never-married,Other-service,Not-in-family,White,Male,0,0,24,United-States,0
48316,40,Private,Preschool,1,Married-civ-spouse,Other-service,Husband,White,Male,0,1672,40,Mexico,0
48505,40,Private,Preschool,1,Never-married,Other-service,Not-in-family,White,Female,0,0,20,United-States,0
48640,46,Private,Preschool,1,Married-civ-spouse,Machine-op-inspct,Other-relative,Black,Male,0,0,75,Dominican-Republic,0
48713,36,Private,Preschool,1,Divorced,Other-service,Not-in-family,Other,Male,0,0,72,Mexico,0

In [68]:
data[data['education-num'] == 1]['education'].unique()    #  education-num이 1인 데이터들의 education 컬럼의 고윳값 확인

array(['Preschool'], dtype=object)

In [69]:
for i in np.sort(data['education-num'].unique()):
  print(i, data[data['education-num'] == i]['education'].unique())    # education-num 컬럼의 고윳값별로 education 컬럼의 고윳값 출력함

1 ['Preschool']
2 ['1st-4th']
3 ['5th-6th']
4 ['7th-8th']
5 ['9th']
6 ['10th']
7 ['11th']
8 ['12th']
9 ['HS-grad']
10 ['Some-college']
11 ['Assoc-voc']
12 ['Assoc-acdm']
13 ['Bachelors']
14 ['Masters']
15 ['Prof-school']
16 ['Doctorate']

In [70]:
# education 컬럼의 값이 이미 별도의 변수 education-num에 숫자화 되어있어서 중복 정보가 됨 ==> 변수 제거
data.drop('education', axis=1, inplace=True)

In [71]:
data

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,NaN,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
48838,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
48839,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
48840,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
48841,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

### occupation 변수 처리

In [72]:
data['occupation'].value_counts()     # 고윳값 출현 빈도 출력함

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

### native-country 변수 처리

In [73]:
data['native-country'].value_counts()             #고유값 출현 빈도 확인하기

United-States                 43832
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

### groupby()
  - 괄호 안에 변수 이름 넣음
  - 추가 연산을 붙여야 함
    - sum(), mean(), std() 함수

In [74]:
data.groupby('native-country').mean().sort_values('class')
# 그룹별 평균 계산 후 class 기준으로 오름차순 정렬

<ipython-input-74-8216059fa502>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('native-country').mean().sort_values('class')

,age,education-num,capital-gain,capital-loss,hours-per-week,class
native-country,,,,,,
Holand-Netherlands,32.000000,10.000000,0.000000,2205.000000,40.000000,0.000000
Guatemala,32.090909,6.306818,167.875000,18.113636,38.715909,0.034091
Outlying-US(Guam-USVI-etc),38.826087,10.043478,0.000000,76.608696,41.347826,0.043478
Columbia,39.458824,9.258824,125.364706,65.247059,39.929412,0.047059
Dominican-Republic,37.970874,7.320388,1064.456311,39.029126,41.621359,0.048544
Mexico,33.635121,6.026288,415.954784,32.656151,40.213460,0.049422
Nicaragua,36.285714,9.000000,138.653061,69.938776,36.938776,0.061224
El-Salvador,33.380645,6.722581,392.761290,36.367742,36.361290,0.070968
Trinadad&Tobago,39.259259,8.962963,116.185185,156.518519,38.888889,0.074074
Vietnam,34.616279,9.616279,604.802326,86.372093,37.976744,0.081395
Laos,35.217391,8.826087,125.434783,75.652174,39.391304,0.086957
Peru,36.434783,9.826087,39.804348,40.173913,36.543478,0.086957
Honduras,35.050000,8.350000,75.300000,152.000000,35.650000,0.100000
Puerto-Rico,39.864130,8.331522,335.347826,104.777174,39.016304,0.108696
Haiti,38.600000,8.533333,297.626667,66.200000,36.920000,0.120000
Ecuador,37.666667,9.244444,328.288889,0.000000,39.266667,0.133333
Jamaica,37.141509,9.811321,495.915094,17.801887,39.160377,0.141509
Scotland,46.761905,10.190476,246.571429,0.000000,41.666667,0.142857
Thailand,37.666667,10.833333,243.266667,49.500000,44.700000,0.166667
South,38.095652,10.765217,1678.208696,134.269565,42.852174,0.173913
Portugal,41.238806,6.761194,203.402985,0.000000,42.238806,0.179104
Poland,42.758621,10.068966,471.919540,70.390805,37.689655,0.195402
United-States,38.698690,10.168667,1089.626529,88.789743,40.440774,0.243977
Cuba,46.355072,9.391304,470.543478,62.717391,40.101449,0.246377
Hong,34.233333,10.433333,500.800000,255.466667,40.266667,0.266667
Germany,38.601942,10.927184,1062.058252,61.456311,40.815534,0.281553
Philippines,39.633898,10.722034,1508.823729,88.522034,39.620339,0.288136
China,41.852459,11.262295,1407.737705,170.655738,38.262295,0.295082
Ireland,38.486486,9.783784,494.783784,96.189189,42.432432,0.297297
Hungary,50.368421,10.947368,490.315789,87.789474,37.947368,0.315789
Cambodia,36.892857,9.392857,697.464286,194.821429,42.035714,0.321429
Italy,45.419048,8.790476,797.895238,52.638095,40.942857,0.323810
Canada,44.049451,10.692308,1233.505495,131.159341,40.406593,0.346154
Japan,37.358696,11.423913,1874.586957,59.445652,42.282609,0.347826
Yugoslavia,40.478261,9.391304,916.391304,0.000000,40.217391,0.347826
Greece,45.836735,9.755102,1131.448980,174.857143,46.897959,0.367347
England,40.527559,11.110236,1076.551181,108.913386,41.937008,0.370079
Iran,38.372881,12.186441,1490.169492,124.406780,42.949153,0.372881
Taiwan,34.184615,13.276923,1948.600000,121.476923,39.400000,0.400000
India,38.364238,12.536424,3196.390728,115.417219,41.423841,0.410596
France,40.315789,12.000000,417.473684,37.052632,42.789474,0.421053

In [75]:
country_group = data.groupby('native-country').mean()['class']   # native-country별로 class의 평균값을 계산하여 저장

<ipython-input-75-5a120045b39d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  country_group = data.groupby('native-country').mean()['class']   # native-country별로 class의 평균값을 계산하여 저장

In [76]:
country_group

native-country
Cambodia                      0.321429
Canada                        0.346154
China                         0.295082
Columbia                      0.047059
Cuba                          0.246377
Dominican-Republic            0.048544
Ecuador                       0.133333
El-Salvador                   0.070968
England                       0.370079
France                        0.421053
Germany                       0.281553
Greece                        0.367347
Guatemala                     0.034091
Haiti                         0.120000
Holand-Netherlands            0.000000
Honduras                      0.100000
Hong                          0.266667
Hungary                       0.315789
India                         0.410596
Iran                          0.372881
Ireland                       0.297297
Italy                         0.323810
Jamaica                       0.141509
Japan                         0.347826
Laos                          0.086957
Mexico                        0.049422
Nicaragua                     0.061224
Outlying-US(Guam-USVI-etc)    0.043478
Peru                          0.086957
Philippines                   0.288136
Poland                        0.195402
Portugal                      0.179104
Puerto-Rico                   0.108696
Scotland                      0.142857
South                         0.173913
Taiwan                        0.400000
Thailand                      0.166667
Trinadad&Tobago               0.074074
United-States                 0.243977
Vietnam                       0.081395
Yugoslavia                    0.347826
Name: class, dtype: float64

In [77]:
# reset_index() : 인덱스를 변수로 불러냄
country_group = country_group.reset_index()

In [78]:
country_group

                native-country     class
0                     Cambodia  0.321429
1                       Canada  0.346154
2                        China  0.295082
3                     Columbia  0.047059
4                         Cuba  0.246377
5           Dominican-Republic  0.048544
6                      Ecuador  0.133333
7                  El-Salvador  0.070968
8                      England  0.370079
9                       France  0.421053
10                     Germany  0.281553
11                      Greece  0.367347
12                   Guatemala  0.034091
13                       Haiti  0.120000
14          Holand-Netherlands  0.000000
15                    Honduras  0.100000
16                        Hong  0.266667
17                     Hungary  0.315789
18                       India  0.410596
19                        Iran  0.372881
20                     Ireland  0.297297
21                       Italy  0.323810
22                     Jamaica  0.141509
23                       Japan  0.347826
24                        Laos  0.086957
25                      Mexico  0.049422
26                   Nicaragua  0.061224
27  Outlying-US(Guam-USVI-etc)  0.043478
28                        Peru  0.086957
29                 Philippines  0.288136
30                      Poland  0.195402
31                    Portugal  0.179104
32                 Puerto-Rico  0.108696
33                    Scotland  0.142857
34                       South  0.173913
35                      Taiwan  0.400000
36                    Thailand  0.166667
37             Trinadad&Tobago  0.074074
38               United-States  0.243977
39                     Vietnam  0.081395
40                  Yugoslavia  0.347826

In [79]:
# data와 country_group를 native-country 기준으로 결합 (left 조인)
data = data.merge(country_group, on= 'native-country', how= 'left')

In [80]:
# rename() : 데이터프레임의 변수나 인덱스 이름을 변경할수 있음.  변경하려는 이름과 변경 후의 이름을 딕셔너리 형태로 넣어주면 됨
data.drop('native-country', axis=1, inplace=True)   # 변수 제거
data = data.rename(columns= {'class_x': 'class', 'class_y': 'native-country'})    # 변수 이름 변환

In [81]:
data

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,class,native-country
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,0,0.243977
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,0,0.243977
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,1,0.243977
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,1,0.243977
4,18,NaN,10,Never-married,NaN,Own-child,White,Female,0,0,30,0,0.243977
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,0,0.243977
48838,40,Private,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,1,0.243977
48839,58,Private,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,0,0.243977
48840,22,Private,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,0,0.243977
48841,52,Self-emp-inc,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,1,0.243977

## 전처리 : 결측치 처리 및 더미 변수 변환

In [82]:
data.isna().mean()      # 결측치 비율 확인

age               0.000000
workclass         0.057307
education-num     0.000000
marital-status    0.000000
occupation        0.057512
relationship      0.000000
race              0.000000
sex               0.000000
capital-gain      0.000000
capital-loss      0.000000
hours-per-week    0.000000
class             0.000000
native-country    0.017546
dtype: float64

In [83]:
# native-country
# 보통 결측치를 숫자로 채워줄 때 -9나 -99와 임의의 숫자를 사용함
# - 트리 기반 모델에서는 큰 문제가 없음, 선형 모델에서는 데이터의 왜곡 발생 할수 있으니 주의해야 함

data['native-country'] = data['native-country'].fillna(-99)       # 결측치를 -99로 대체

In [84]:
data.isna().mean()      # 결측치 비율 확인

age               0.000000
workclass         0.057307
education-num     0.000000
marital-status    0.000000
occupation        0.057512
relationship      0.000000
race              0.000000
sex               0.000000
capital-gain      0.000000
capital-loss      0.000000
hours-per-week    0.000000
class             0.000000
native-country    0.000000
dtype: float64

In [85]:
# workclass은 범주형 변수이므로 평균치로 해결할수 없음
# - 이 경우는 특정 텍스트로 채워주거나, 제거해야 함
data['workclass'].value_counts()       # 고유값별 출현 빈도 확인

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [86]:
data['workclass'] = data['workclass'].fillna('Private')    # 결측치를 Private으로 대체

In [87]:
data.isna().mean()      # 결측치 비율 확인

age               0.000000
workclass         0.000000
education-num     0.000000
marital-status    0.000000
occupation        0.057512
relationship      0.000000
race              0.000000
sex               0.000000
capital-gain      0.000000
capital-loss      0.000000
hours-per-week    0.000000
class             0.000000
native-country    0.000000
dtype: float64

In [88]:
# occupation 컬럼의 고윳값별 출현 빈도 확인
data['occupation'].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [89]:
# 결측치를 Unknown으로 대처
data['occupation'] = data['occupation'].fillna('Unknown')

In [90]:
data.isna().mean()      # 결측치 비율 확인

age               0.0
workclass         0.0
education-num     0.0
marital-status    0.0
occupation        0.0
relationship      0.0
race              0.0
sex               0.0
capital-gain      0.0
capital-loss      0.0
hours-per-week    0.0
class             0.0
native-country    0.0
dtype: float64

In [91]:
# 더미 변수로 변환
data = pd.get_dummies(data, drop_first=True)

In [93]:
data

,age,education-num,capital-gain,capital-loss,hours-per-week,class,native-country,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Male
0,25,7,0,0,40,0,0.243977,0,0,1,...,0,0,1,0,0,0,1,0,0,1
1,38,9,0,0,50,0,0.243977,0,0,1,...,0,0,0,0,0,0,0,0,1,1
2,28,12,0,0,40,1,0.243977,1,0,0,...,0,0,0,0,0,0,0,0,1,1
3,44,10,7688,0,40,1,0.243977,0,0,1,...,0,0,0,0,0,0,1,0,0,1
4,18,10,0,0,30,0,0.243977,0,0,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,12,0,0,38,0,0.243977,0,0,1,...,0,0,0,0,1,0,0,0,1,0
48838,40,9,0,0,40,1,0.243977,0,0,1,...,0,0,0,0,0,0,0,0,1,1
48839,58,9,0,0,40,0,0.243977,0,0,1,...,0,0,0,1,0,0,0,0,1,0
48840,22,9,0,0,20,0,0.243977,0,0,1,...,0,0,1,0,0,0,0,0,1,1
48841,52,9,15024,0,40,1,0.243977,0,0,0,...,0,0,0,0,1,0,0,0,1,0

### 모델링 및 평가하기

In [94]:
# 데이터를 훈련셋과 시험셋으로 나누기
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.drop('class', axis=1), data['class'], test_size= 0.4, random_state = 100)   # 훈련셋/시험셋 분리

In [95]:
from sklearn.tree import DecisionTreeClassifier    # 0과 1을 예측해야 함 (분류모델은 범주형 변수용)

In [96]:
# 모델 객체 생성
model = DecisionTreeClassifier()

In [98]:
# 학습
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [99]:
# 예측
pred = model.predict(X_test)

In [100]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)   # 정확도 계산 (81%)

0.8151712135947177